
.navbar-landing .navbar-text  {
   color: #ffffff;
}
.navbar-landing .navbar-text a {
   color: #ffffff;
}

.navbar-landing .navbar-text a:hover {
   color: #fff;
}

.navbar-landing .navbar-nav > li > a {
   color: #fff;
}
.navbar-landing .navbar-nav > li > a:hover,
.navbar-landing .navbar-nav > li > a:focus {
   color: #ffffff;
}

.navbar-landing .nav > li > a {
   color: #fff;
}

.navbar-landing .nav > li > a:hover,
.navbar-landing .nav > li > a:focus {
   color: #fff;
   background: transparent;
}


/* title */
.navbar-landing .navbar-brand {
   color: white;
}
.navbar-landing .navbar-brand:hover,
.navbar-landing .navbar-brand:focus {
   color: #fff;
}

/* navbar */
.navbar-landing {
   background: transparent;
   color : #fff;
 }
.navbar-landing .navbar-nav > .open > a,
.navbar-landing .navbar-nav > .open > a:hover,
.navbar-landing .navbar-nav > .open > a:focus {
   color: #fff;
}
.navbar-landing .navbar-nav > .active > a,
.navbar-landing .navbar-nav > .active > a:hover,
.navbar-landing .navbar-nav > .active > a:focus {
   color: #fff;
}



.navbar-landing .navbar-nav .dropdown .dropdown-menu > li  > a {
   color: #222;
}

.navbar-landing .navbar-nav .dropdown .dropdown-menu > li  > a:hover,
.navbar-landing .navbar-nav .dropdown .dropdown-menu > li  > a:focus{
 color : #fff;
}



.navbar-landing .navbar-nav .dropdown .dropdown-menu {
   color: #fff;
}
